*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
header{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
}
#nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 10vh;
}
#nav1 a{
    position: relative;
    text-decoration: none;
    color: #919192;
    text-transform: uppercase; 
    font-size: 12px;
    letter-spacing: 1.2px;
    font-family: 'Source Serif Pro', serif;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*nav1 effets*/
#nav1 a:nth-child(1){
    color: #B1B000;
    border-top: solid 3px #B1B000;
    font-weight: bold;
}
#nav1 a:hover{
    color: #B1B000; 
    font-weight: bold;
}
#nav1 a span{
  position: absolute;
  top: 0;
  width: 60%;
  height: 3px;
}
#nav1 a span:nth-child(1){
   right: 40%;
   transform: scale(0);
   transform-origin: right;
   background-color: #B1B000;
   transition: ease-in-out 0.5s;
  }
  #nav1 a span:nth-child(2){
    left: 40%;
    transform-origin: left;
    background-color: #B1B000;
    transform: scale(0);
    transition: ease-in-out 0.5s;
   }
    #nav1 a:hover span:nth-child(1){
transform: scale(1);
}
   #nav1 a:hover span:nth-child(2){
    transform: scale(1);
   }

   /*nav1 effets fin*/
#nav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 10vh;
}
#nav2 p{
    color: #919192;
}
#nav2 p:nth-child(1){
    position: relative;
    color: #65645B;
    font-family: 'Source Serif Pro', serif;
    font-weight:bold;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 3px;
}
#nav2 p:nth-child(1) span{
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 3px;
}
#nav2 p:nth-child(1) span:nth-child(1){
    right: 40%;
    transform: scale(0);
    transform-origin: right;
    background-color: #B1B000;
    transition: ease-in-out 0.5s;
}
   #nav2 p:nth-child(1) span:nth-child(2){
     left: 40%;
     transform-origin: left;
     background-color: #B1B000;
     transform: scale(0);
     transition: ease-in-out 0.5s;
    }
    #nav2 p:nth-child(1):hover {
        cursor: pointer;
        color: #B1B000;
        font-weight: bold;
    }
    #nav2 p:nth-child(1):hover span:nth-child(1){
       transform: scale(1);
       }
       #nav2 p:nth-child(1):hover span:nth-child(2){
           transform: scale(1);
          }
#nav2 p:nth-child(2){
    position: relative;
    color: #919192;
    font-family: 'Source Serif Pro', serif;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nav2 p:nth-child(2) span{
    position: absolute;
    top: 0;
    width: 60%;
    height: 3px;
}
  #nav2 p:nth-child(2) span:nth-child(1){
     right: 40%;
     transform: scale(0);
     transform-origin: right;
     background-color: #B1B000;
     transition: ease-in-out 0.5s;
}
    #nav2 p:nth-child(2) span:nth-child(2){
      left: 40%;
      transform-origin: left;
      background-color: #B1B000;
      transform: scale(0);
      transition: ease-in-out 0.5s;
     }
     #nav2 p:nth-child(2):hover {
         cursor: pointer;
         color: #B1B000;
         font-weight: bold;
     }
     #nav2 p:nth-child(2):hover span:nth-child(1){
        transform: scale(1);
        }
        #nav2 p:nth-child(2):hover span:nth-child(2){
            transform: scale(1);
           }
.loupe{
    width: 20px;
    height: 20px;
    transition: ease-in-out 0.5s;
}
.loupeTaille{
    transition: ease-in-out 0.5s;
}
.loupe:hover{
    cursor: pointer;
}
/*sect1*/

#sect1{
    width: 100%;
    height: 50vh;
    display: flex;
    position: relative;
}
.slider {
    min-height: 50vh;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: ease-in-out 1s;
    scrollbar-width: none;
  }
  .slider::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  .prestaBloc {
    min-height: 100%;
    min-width: 100%;
  background-image: url('./images/slide1.jpg');
  background-position: center;
  background-size: cover;
  }
  .prestaBloc2 {
    min-height: 100%;
    min-width: 100%;
    background-image: url('./images/slide2.jpg');
  background-position: center;
  background-size: cover;
 
  }
  .prestaBloc3 {
    min-height: 100%;
    min-width: 100%;
    background-image: url('./images/slide3.jpg');
  background-position: center;
  background-size: cover;
 
  }
  /*controle*/
  #controle{
      position:absolute;
      width: 200px;
      height: 50px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     left: 50%;
     transform:translateX(-50%);
     bottom: 0;
     z-index: 1;
  }
  .rond1,.rond2,.rond3{
    height: 20px;
    width: 20px;
    border-radius: 50%;
   border: 2px solid white;
}
  #controle div:nth-child(1),  #controle div:nth-child(5){
      width: 10%;
      height: 100%;
  }
  #controle div:nth-child(1):hover,  #controle div:nth-child(5):hover{
      cursor: pointer;
  }
/*meteo*/
.meteo{
    position: absolute;
    background-color: white;
    height: 150px;
    width: 150px;
    align-self: center;
    z-index: 10;
    right: 0;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border: solid 10px white;
}
/*sect2*/

#sect2{
    position: relative;
    min-height: 300vh;
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#une{
    position: sticky;
    width: 10%;
    height: 50vh;
    top: 20px;
    margin-left: 10%;
}
#centre{
    position: relative;
    width: 40%;
    min-height: 300vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#centre .article1,#centre .article2,#centre .article3{
height: 100vh;
width: 100%;
margin-bottom: 50px;
position: relative;
}

.article1 div:nth-child(1){
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    background-image: url('./images/art1.jpg');
    background-position: center;
    background-size: cover;
  
}
.article2 div:nth-child(1){
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    background-image: url('./images/art2.jpg');
    background-position: center;
    background-size: cover;
   
}

.article3 div:nth-child(1){
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    background-image: url('./images/art3.jpg');
    background-position: center;
    background-size: cover;
    
}
#agenda{
    position: sticky;
    top: 20px;
    width: 30%;
    height: 50vh;
    
}