*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}
header{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 10vh;
    width: 100%;
}
#nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    min-width: 200px;
    height: 10vh;
}
#nav1 a{
    position: relative;
    text-decoration: none;
    color: #919192;
    text-transform: uppercase; 
    font-size: 12px;
    letter-spacing: 1.2px;
    font-family: 'Source Serif Pro', serif;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*nav1 effets*/
#nav1 a:nth-child(1){
    color: #B1B000;
    border-top: solid 3px #B1B000;
    font-weight: bold;
}
#nav1 a:hover{
    color: #B1B000; 
    font-weight: bold;
}
#nav1 a span{
  position: absolute;
  top: 0;
  width: 60%;
  height: 3px;
}
#nav1 a span:nth-child(1){
   right: 40%;
   transform: scale(0);
   transform-origin: right;
   background-color: #B1B000;
   transition: ease-in-out 0.5s;
  }
  #nav1 a span:nth-child(2){
    left: 40%;
    transform-origin: left;
    background-color: #B1B000;
    transform: scale(0);
    transition: ease-in-out 0.5s;
   }
    #nav1 a:hover span:nth-child(1){
transform: scale(1);
}
   #nav1 a:hover span:nth-child(2){
    transform: scale(1);
   }

   /*nav1 effets fin*/
#nav2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 200px;
    width: 30%;
    height: 10vh;
}
#nav2 p{
    color: #919192;
}
#nav2 p:nth-child(1){
    position: relative;
    color: #65645B;
    font-family: 'Source Serif Pro', serif;
    font-weight:bold;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding: 3px;
}
#nav2 p:nth-child(1) span{
    position: absolute;
    bottom: 0;
    width: 60%;
    height: 3px;
}
#nav2 p:nth-child(1) span:nth-child(1){
    right: 40%;
    transform: scale(0);
    transform-origin: right;
    background-color: #B1B000;
    transition: ease-in-out 0.5s;
}
   #nav2 p:nth-child(1) span:nth-child(2){
     left: 40%;
     transform-origin: left;
     background-color: #B1B000;
     transform: scale(0);
     transition: ease-in-out 0.5s;
    }
    #nav2 p:nth-child(1):hover {
        cursor: pointer;
        color: #B1B000;
        font-weight: bold;
    }
    #nav2 p:nth-child(1):hover span:nth-child(1){
       transform: scale(1);
       }
       #nav2 p:nth-child(1):hover span:nth-child(2){
           transform: scale(1);
          }
#nav2 p:nth-child(2){
    position: relative;
    color: #919192;
    font-family: 'Source Serif Pro', serif;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nav2 p:nth-child(2) span{
    position: absolute;
    top: 0;
    width: 60%;
    height: 3px;
}
  #nav2 p:nth-child(2) span:nth-child(1){
     right: 40%;
     transform: scale(0);
     transform-origin: right;
     background-color: #B1B000;
     transition: ease-in-out 0.5s;
}
    #nav2 p:nth-child(2) span:nth-child(2){
      left: 40%;
      transform-origin: left;
      background-color: #B1B000;
      transform: scale(0);
      transition: ease-in-out 0.5s;
     }
     #nav2 p:nth-child(2):hover {
         cursor: pointer;
         color: #B1B000;
         font-weight: bold;
     }
     #nav2 p:nth-child(2):hover span:nth-child(1){
        transform: scale(1);
        }
        #nav2 p:nth-child(2):hover span:nth-child(2){
            transform: scale(1);
           }
.loupe{
    width: 20px;
    height: 20px;
    transition: ease-in-out 0.5s;
}
.loupeTaille{
    transition: ease-in-out 0.5s;
}
.loupe:hover{
    cursor: pointer;
}
/*sect1*/

#sect1{
    width: 100%;
    min-height: 50vh;
    display: flex;
    position: relative;
}
.slider {
    min-height: 50vh;
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    transition: ease-in-out 1s;
    scrollbar-width: none;
  }
  .slider::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  .prestaBloc {
    min-height: 100%;
    min-width: 100%;
  background-image: url('./images/slide1.jpg');
  background-position: center;
  background-size: cover;
  }
  .prestaBloc2 {
    min-height: 100%;
    min-width: 100%;
    background-image: url('./images/slide2.jpg');
  background-position: center;
  background-size: cover;
 
  }
  .prestaBloc3 {
    min-height: 100%;
    min-width: 100%;
    background-image: url('./images/slide3.jpg');
  background-position: center;
  background-size: cover;
 
  }
  /*controle*/
  #controle{
      position:absolute;
      width: 200px;
      height: 50px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     left: 50%;
     transform:translateX(-50%);
     bottom: 0;
     z-index: 1;
  }
  .rond1,.rond2,.rond3{
    height: 20px;
    width: 20px;
    border-radius: 50%;
   border: 2px solid white;
}
  #controle div:nth-child(1),  #controle div:nth-child(5){
      width: 10%;
      height: 100%;
  }
  #controle div:nth-child(1):hover,  #controle div:nth-child(5):hover{
      cursor: pointer;
  }
/*meteo*/
.meteo{
    position: absolute;
    background-color: white;
    height: 150px;
    width: 150px;
    align-self: center;
    z-index: 10;
    right: 0;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border: solid 10px white;
}
/*sect2*/

#sect2{
    position: relative;
    min-height: 300vh;
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#une{
    position: sticky;
    width: 10%;
    height: 50vh;
    top: 20px;
    margin-left: 10%;
}
#centre{
    position: relative;
    width: 40%;
    min-height: 300vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#centre .article1,#centre .article2,#centre .article3{
min-height: 100vh;
width: 100%;
margin-bottom: 50px;
position: relative;
border-bottom: 2px dashed #9191928F;
opacity: 0;
transition: ease-in-out 2s;
}

.article1 div:nth-child(1){
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 50vh;
    background-image: url('./images/art1.jpg');
    background-position: center;
    background-size: cover;
    transition: ease-in-out 0.5s;
  
}
.article2 div:nth-child(1){
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    background-image: url('./images/art2.jpg');
    background-position: center;
    background-size: cover;
    transition: ease-in-out 0.5s;
}
.article3 div:nth-child(1){
    position: absolute;
    top: 0;
    width: 100%;
    height: 50vh;
    background-image: url('./images/art3.jpg');
    background-position: center;
    background-size: cover;
    transition: ease-in-out 0.5s;
}
.article1 div:nth-child(1):hover,.article2 div:nth-child(1):hover,.article3 div:nth-child(1):hover{
    filter: opacity(0.8);
    cursor: pointer;
}
/*article1*/
.article1 div:nth-child(2){
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.article1 div:nth-child(2) p:nth-child(1){
    text-transform: uppercase;
    color: white;
    font-family: 'Source Serif Pro', serif;
    width: 200px;
    min-height: 50px;
    background-color: #4F7F99;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article1 div:nth-child(2) p:nth-child(2){
    text-transform: uppercase;
    color: #65645B;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}
.article1 div:nth-child(2) div:nth-child(3){
    width: 150px;
    height: 150px;
}
.article1 div:nth-child(2) p:nth-child(4){
    color: #919192;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
}

/*article1*/
/*article2*/
.article2 div:nth-child(2){
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.article2 div:nth-child(2) p:nth-child(1){
    text-transform: uppercase;
    color: white;
    font-family: 'Source Serif Pro', serif;
    width: 200px;
    min-height: 50px;
    background-color: #AE4F5E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article2 div:nth-child(2) p:nth-child(2){
    text-transform: uppercase;
    color: #65645B;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}
.article2 div:nth-child(2) div:nth-child(3){
    width: 150px;
    height: 150px;
}
.article2 div:nth-child(2) p:nth-child(4){
    color: #919192;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
}
/*article2*/
/*article3*/
.article3 div:nth-child(2){
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.article3 div:nth-child(2) p:nth-child(1){
    text-transform: uppercase;
    color: white;
    font-family: 'Source Serif Pro', serif;
    width: 200px;
    min-height: 50px;
    background-color: #B4B287;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article3 div:nth-child(2) p:nth-child(2){
    text-transform: uppercase;
    color: #65645B;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}
.article3 div:nth-child(2) div:nth-child(3){
    width: 150px;
    height: 150px;
}
.article3 div:nth-child(2) p:nth-child(4){
    color: #919192;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
}
/*article3*/
.lirePlus{
    width: 100px;
    height: 60px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: ease-in-out 0.2s;
}
.lirePlus span:nth-child(1){
    color: #B1B000;
    font-family: 'Source Serif Pro', serif;
    font-size: 12px;  
}
.lirePlus span:nth-child(2){
   width: 10px;
   height: 1px;
   background-color:#B1B000;
   margin-left: 5px;
   transform-origin: right;
   transition: 0.2s;
   transform: scale(0);
}
.lirePlus:hover{
    cursor: pointer;
    font-weight: bold;
}
.lirePlus:hover span:nth-child(2){
    transform: scale(1.2);
}
.lirePlus span:nth-child(3){
    width: 7px;
    height: 60px;
 }
 /*#*/
 .hashtag{
    position: absolute;
    background-color:#e4e3e3;
    min-height: 10%;
    width: 100%;
    bottom: 0;
    z-index: 2;
    margin-bottom: 0;  
    transform: scaleY(0);
    transform-origin: bottom;
    transition: ease-in-out 0.5s;
    border:1px solid #919192;
    border-top: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0.8;
}
.hashtag i{
    color: #919192;
    font-family: 'Source Serif Pro', serif;
    font-style: normal;
    font-size: 12px;
}
.article1 div:nth-child(1):hover .hashtag{
    transform: scaleY(1);
    opacity: 1;
}
.article2 div:nth-child(1):hover .hashtag{
    transform: scaleY(1);
    opacity: 1;
}
.article3 div:nth-child(1):hover .hashtag{
    transform: scaleY(1);
    opacity: 1;
}
 /*#*/
/*agenda*/
#agenda{
    margin-top: -55px;
    position: sticky;
    top: 7px;
    width: 30%;
    height: 57vh;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.titreGeneral{
    color: #B1B000;
    font-family: 'Source Serif Pro', serif;
    font-size: 12px; 
}
#agenda span{
    background-color: #B1B000;
    width: 80%;
    height: 2px;
}
.articleAgenda{
    position: relative;
    width:80%;
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.articleAgenda:hover{
    background-color:#e4e3e3;
    cursor: pointer;
}
.img1,.img2,.img3,.img4,.img5{
    width: 40%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.img1{
    background-image: url('./images/slide1.jpg');
}
.img2{
    background-image: url('./images/art3.jpg');
}
.img3{
    background-image: url('./images/slide3.jpg');
}
.img4{
    background-image: url('./images/art2.jpg');
}
.img5{
    background-image: url('./images/slide2.jpg');
}
.text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.text .titreMini{
    color: #AE4F5E;
    font-family: 'Source Serif Pro', serif;
    font-size: 2vmin;
     margin: 0;
}
.titreMiniEnv{
    color: #4F7F99;
    font-family: 'Source Serif Pro', serif;
     font-size: 2vmin;
    margin: 0;
}
.titreMiniVigne{
    color: #B4B287;
    font-family: 'Source Serif Pro', serif;
      font-size: 2vmin;
    margin: 0;
}
.text .textMini{
    color: #65645B;
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2vmin;
    margin: 0;
}
.text div{
  height: 40px;
   width: 60px;
}
.borderRed{
position: absolute;
left: 0;
height: 100%;
width: 5px;
z-index: 1;
background-color: #AE4F5E;
transition: ease-in-out 0.5s;
}
.borderBlue{
    position: absolute;
    left: 0;
    height: 100%;
    width: 5px;
    z-index: 1;
    background-color: #4F7F99;
    transition: ease-in-out 0.5s;
    }
    .borderJaune{
        position: absolute;
        left: 0;
        height: 100%;
        width: 5px;
        z-index: 1;
        background-color: #B4B287;
        transition: ease-in-out 0.5s;
    }
    .articleAgenda:hover .borderRed {
        width: 10px;
         }
         .articleAgenda:hover .borderBlue {
            width: 10px;
             }
.articleAgenda:hover .borderJaune {
   width: 10px;
}
/*agenda*/

/*citation*/

#citation{
    min-height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#citation p{
    color: #65645B;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    font-style: italic;
    width: 50%;
    text-align: center;
}

/*abonnement*/

#abonnement{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: ease-in-out 1s;
    transform:translateX(-50vw)
}
#abonnement article:nth-child(2){
    position: relative;
    min-height: 70vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.abo{
position: relative;
width: 70%;
min-height: 20vh;
}

.abo h1{
    color: #65645B;
    font-family: 'Source Serif Pro', serif;
    font-size: 10vmin;
    position: absolute;
    letter-spacing: 10px;
    right: 0;
    bottom: 0;
    font-weight:lighter;
    font-style: italic;
    opacity: 0.3;
    margin: 0;

}
.aboCentre{
    position: relative;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: row;
    justify-content: space-between;
}
.aboImg{
width: 50%;
min-height: 100%;
background-position: center;
background-size: cover;
background-image: url('./images/caPicole.jpg');
}
.aboTxt{
width: 50%;
min-height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
background-color: #F3F3F2;
}
.aboTxt h1{
    color: #65645B;
    font-size:4vmin;
    font-family: 'Source Serif Pro', serif;
    width: 50%;
}
.aboTxt h2{
    color:#B1B000;
    font-size: 2.5vmin;
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    width: 50%;
}
.aboTxt p{
    color:#8B8B85;
    font-size: 1.5vmin;
    font-family: 'Source Serif Pro', serif;
    width: 50%;
}
.footerAbo{
    position: relative;
    width: 100%;
    height:10%;
    background-color: #B1B000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lirePlus2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.2s;
}
.lirePlus2 span:nth-child(1){
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 2.5vmin;  
}
.lirePlus2 span:nth-child(2){
   width: 10px;
   height: 1px;
   background-color:white;
   margin-left: 5px;
   transform-origin: right;
   transition: 0.2s;
   transform: scale(0);
}
.lirePlus2:hover{
    cursor: pointer;
    font-weight: bold;
}
.lirePlus2:hover span:nth-child(2){
    transform: scale(1.2);
}
.lirePlus2 span:nth-child(3){
    width: 7px;
    height: 60px;
 }
 /*galerie*/
 #galerie{
     height: 50vh;
     width: 100%;
     background-color: #F3F3F2;
     margin-top: 20vh;
 }
 /*contact*/
 #contactForm{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
    transform: translateY(50vh);
    opacity: 0;
}
#contactForm article{
    position: relative;
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact{
position: relative;
width: 100%;
height: 25%;
}
.contact h1{
    color: #65645B;
    font-family: 'Source Serif Pro', serif;
    font-size: 10vmin;
    position: absolute;
    letter-spacing: 10px;
    right: 0;
    font-weight:lighter;
    font-style: italic;
    opacity: 0.3;
}
.contactCentre{
    position: relative;
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: row;
    justify-content: space-between;
}
.contactImg{
width: 50%;
height: 100%;
background-position: center;
background-size: cover;
background-image: url('./images/contact.jpg');
}
.contactTxt{
width: 50%;
height: 100%;
background-color: #F3F3F2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
}
.contactTxt input{
border-radius: 5px;
background-color: white;
border: none;
height: 33px;
width: 70%;
font-family: 'Source Serif Pro', serif;
}
.contactTxt textarea{
resize: none;
border-radius: 5px;
background-color: white;
border: none;
height: 99px;
width: 70%;
font-family: 'Source Serif Pro', serif;
}
.bouton{
    background-color: transparent;
    border: none;
    color:#8B8B85;
    font-family: 'Source Serif Pro', serif;
}
.bouton:hover{
    font-weight: bold;
    cursor: pointer;
}
.validation{
    width: 200px;
    max-width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
}
.validation span{
    width: 10px;
   height: 1px;
   background-color:#8B8B85;
   margin-left: 5px;
   transform-origin: right;
   transition: 0.2s;
   transform: scale(0);
}
.fleche{
    width: 7px;
    height: 60px;
}
.validation:hover .trait {
    transform: scale(1);
}

/*responsive*/
@media(max-width:720px){
    #nav1{
width: 100%;
    }
    .meteo{
        height: 90px;
        width: 90px;
    }
    #nav2{
        width: 100%;
            }
    #nav1 a{
        font-size: 10px; 
    }
    #nav2 p:nth-child(1),#nav2 p:nth-child(2){
        font-size: 10px;
    }

    .article1 div:nth-child(2) p:nth-child(1){
        width: 100px;
        font-size: 10px;
    }
    .article1 div:nth-child(2) p:nth-child(2){
        font-size: 10px;
    }
    .article1 div:nth-child(2) p:nth-child(4){
        font-size: 8px;
    }
    .article1 div:nth-child(2) div:nth-child(3){
        height: 80px;
        width: 80px;
    }
    .article2 div:nth-child(2) p:nth-child(1){
        width: 100px;
        font-size: 10px;
    }
    .article2 div:nth-child(2) p:nth-child(2){
        font-size: 10px;
    }
    .article2 div:nth-child(2) p:nth-child(4){
        font-size: 8px;
    }
    .article2 div:nth-child(2) div:nth-child(3){
        height: 80px;
        width: 80px;
    }
    .article3 div:nth-child(2) p:nth-child(1){
        width: 100px;
        font-size: 10px;
    }
    .article3 div:nth-child(2) p:nth-child(2){
        font-size: 10px;
    }
    .article3 div:nth-child(2) p:nth-child(4){
        font-size: 8px;
    }
    .article3 div:nth-child(2) div:nth-child(3){
        height: 80px;
        width: 80px;
    }

}

@media(max-width:720px){
    .text div{
        width: 40px;
    }
}
 
 